* {
    color: #4a4a4f;
    font-size: 12px;
    cursor: default;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.toolbar, .banner {
    display: flex;
    padding: 0 3px;
    height: 24px;
    align-items: center;
    background-color: #f9f9fa;
}

.toolbar {
    border-bottom: 1px solid #e0e0e1;
}

.toolbar-button {
    width: 26px;
    height: 22px;
    line-height: 22px;
    border-radius: 1.5px;
    text-align: center;
}

.toolbar-button > i {
    line-height: 22px;
    font-size: 14px;
}

.toolbar-button:hover {
    background-color: #e3e4e7;
}

.toolbar-button.tb-active, .toolbar-button.tb-active > i {
    color: #0060df;
}

.toolbar-checkbox {
    margin: 0 1px;
    padding: 1px 6px;
    border-radius: 1.5px;
    text-decoration-line: none;
    background-color: hsl(240, 9%, 94%);
}

.toolbar-checkbox:hover {
    background-color: #e3e4e7;
}

.toolbar-checkbox.tc-checked, .toolbar-checkbox.tc-checked > i {
    color: #ffffff;
    background-color: #0074e8;
}

.banner {
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: 1px solid #e0e0e1;
}

.main {
    display: flex;
    height: calc(100% - 25px);
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
}

.main > div {
    height: 100%;
}

.sidebar {
    border-right: 1px solid #e0e0e1;
}

.sidebar-content {
    width: 250px;
    height: calc(100% - 50px);
    overflow: auto;
}

.sidebar-tree {
    min-width: 250px;
    width: auto;
}

.sidebar-tree, .sidebar-tree ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sidebar-tree li {
	padding-left: 20px;
    min-height: 24px;
}

.sidebar-tree li > a {
    display: block;
    height: 24px;
    line-height: 24px;
    word-break: break-all;
    overflow: visible;
}

.sidebar-tree li > a:hover, .sidebar-tree li > a:hover > i {
    color: #0074e8;
}

.sidebar-tree li > a.a-selected, .sidebar-tree li > a.a-selected > i {
    color: #0074e8;
    font-weight: bold;
}

.sidebar-tree li > a > i {
    width: 20px;
    text-align: center;
}

.sidebar-tree li > ul {
    display: none;
}

.sidebar-tree li.li-opened > ul {
    display: block;
}

.sidebar-tree .hitarea {
    float: left;
    margin-left: -20px;
    width: 20px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-family: FontAwesome;
    font-size: 16px;
}

.sidebar-tree .hitarea::before {
    content: "\f0da";
}

.sidebar-tree li.li-opened > .hitarea::before {
    content: "\f0d7";
}

.list {
    flex: 1;
    overflow: auto;
}

table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;    
    background-color: #f9f9fa;
}

table > thead {
    border-bottom: 1px solid #e0e0e1;
}

table > tbody {
    background-color: #ffffff;
}

table > thead th {
    font-weight: normal;
}

table tr {
    height: 24px;
}

table > thead > tr {
    height: 25px;
}

table > tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

table > tbody tr:hover {
    background-color: #f0f9fe;
}

table > tbody tr.tr-selected {
    background-color: #0074e8;
}

table > thead th:not(:last-child) {
    border-right: 1px solid #e0e0e1;
}

table td {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

table > tbody tr.tr-selected > td {
    color: #99c7f5;
}

.detail {
    flex: 1;
    border-left: 1px solid #e0e0e1;
    background-color: #f9f9fa;
}

.detail.dt-collapsed{
    display: none;
}

.detail-content {
    height: calc(100% - 25px);
    overflow: auto;
}